# Bundler cache
.bundle
vendor

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

# Debris and Temp
.DS_Store
**/.DS_Store
*.log
*.png
*.html
!index.html
!googled*.html
*.json
!_data/*.json
!package*.json
!gh_ref.json # wait, gh_ref.json I deleted but let's be general
*.geojson
tmp_*
data-temp/
_backups_migration/
